
.greeting{
    margin: 10% auto;
    border: 1px solid #ccc;
    max-width: 300px;
    padding: 10px;
}

.greeting h2{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.greeting .destacado {
    color: #61dafb;
    font-weight: 700;
}